<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
  </head>
  <body>
    <table border="1">
      <thead>
        <tr>
          <th>Title</th>
          <th>price</th>
          <th>student qty</th>
          <th>reviews qty</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
        <tr>
          <td>{{course.title}}</td>
          <td>{{course.price}}</td>
          <td>{{course.students_qty}}</td>
          <td>{{course.reviews_qty}}</td>
          <td>
            <button>buy</button>
          </td>
        </tr>
        {%endfor %}
      </tbody>
    </table>
  </body>
</html>
